<div class="mainpage">
  <div class="flex__row">
    <div class="card-body">
      <img class="card-img-top img-logo" src="./../../../assets/imgs/windows.png" alt="Card image cap">
      <h5 class="card-title">For Android</h5>
      <p class="card-text">
        Desktop Game for Windows platform
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Size</b> 70Mb</li>
        <li class="list-group-item"><b>Resolution</b> 800x600</li>
        <li class="list-group-item"><b>OS</b> Windows 8+</li>
      </ul>
      <a class="btn btn-dark" href="./../../../assets/docs/poqimon.zip">Download</a>
    </div>
    <div class="card-body">
      <img class="card-img-top img-logo" src="./../../../assets/imgs/android.png" alt="Card image cap">
      <h5 class="card-title">For Windows</h5>
      <p class="card-text">
        Movile Game for Android platform
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Size</b> 70Mb</li>
        <li class="list-group-item"><b>Resolution</b> 800x600</li>
        <li class="list-group-item"><b>OS</b> Android 19+</li>
      </ul>
      <a class="btn btn-dark" href="./../../../assets/docs/poqimon.zip">Download</a>
    </div>
  </div>
</div>
